.container {
  position: relative;
  width: 100vw; height: 100vh;

  .bg-sky {
    position: absolute;
    top: 0; left: 0;
    width: inherit; height: inherit;

    background:
    linear-gradient(to bottom,
    rgba(#18959b,0.2) 0%, rgba(#57bcc1, 0.3) 57%,
     rgba(#fff, 0.5) 99%);
  }

  .congrat {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    text-align: center;

    .text-big {
      font: {
        size: 100px;
        weight: bold;
      }

      @media screen and (max-width: 800px){ font-size: 60px; }
    }
    .text-small {
      font: {
        size: 25px;
        weight: 600;
      }
      color: #777;
      
    }
  }
}

svg {
  position: absolute;
  left: 0; top: 0;
  width: inherit; height: inherit;

  g.cone {
    stroke: {
      width: 2;
      linejoin: round;
      linecap: round;
      dasharray: 5,4;
    }
    opacity: 0.8;

    &.cone-grey { stroke: rgba(80,80,80,1); }
    &.cone-red { stroke: rgba(180,30,25,1); }
  }

  g.confetti {
    // stroke color defaults to black but will be set 
    // as an inline style by script
    stroke: #000 {
      width: 3;
      // dasharray: 4,5;
      linecap: round;
      linejoin: round;
    }
    fill: none;
  }

}




